body {
    font-family: sans-serif;
    background-color: #FDEBD0 ;
    color: #4D4C4C;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

article {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

article a{
    text-decoration: none;
    color: #4D4C4C;
}

article h5 {
    color: #7A7979;
}

.post {
    border-bottom: 1px dashed #4D4C4C;
}

#newBlog #title {
    width: 750px;
}

#newBlog #article {
    overflow: scroll;
    width: 750px;
    height: 500px;
}

#newBlog #postBtn {
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    padding: 10px;
    background-color: #E8DAEF;
}

#newBlog #postBtn:hover {
    background-color: #C39BD3;
    cursor: pointer;
}

.comment {
    width: 600px;
    text-align: center;
    background-color: #DDCEB6;
    margin: 15px;
    margin-left: 20%;
    padding: 5px;
    border-radius: 20px;
}

#addComment {
    width: 600px;
    text-align: center;
    background-color: #DDCEB6;
    margin: 15px;
    margin-left: 20%;
    padding: 5px;
    border-radius: 20px;
}

#comment {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 500px;
    padding: 10px;
    overflow-y: auto;
    background-color: #FDEBD0;
    border-radius: 20px;
}

#commentBtn {
    background-color: #BEB09C;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: inherit;
    margin-bottom: 15px;
    border-radius: 15px;
}

#commentBtn:hover {
    background-color: #9E9382;
    cursor: pointer;
}
