body {
    font-family: sans-serif;
    background-color: #FDEBD0 ;
    color: #4D4C4C;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navBar {
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #E8DAEF;
}

#navBar a {
    float: left;
    display: block;
    margin-left: 10%;
    padding: 14px 16px;
    color: #4D4C4C;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#navBar a:hover {
    background-color: #D2B4DE;
}

#navBar button:hover {
    background-color: #C39BD3;
}

#navBar #searchBar {
    float: right;
    margin-right: 10%;
}

#navBar input {
    padding: 6px;
    margin-top: 8px;
    border: none;
    font-size: 17px;
}

#navBar button {
    background-color: #D2B4DE;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
