#navBar {
    position: static;
    height: 50px;
    width: 100%;
    background-color: #E8DAEF;
}

#navBar a {
    float: left;
    display: block;
    padding: 14px 16px;
    color: #4D4C4C;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#users button {
    float: right;
    background-color: #D2B4DE;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#users a {
    float: right;
}

#navBar a:hover {
    background-color: #D2B4DE;
}

#navBar button:hover, #dropdown:hover #dropbtn, #dropdown-content a:hover {
    background-color: #C39BD3;
}

#navBar #searchBar, #navBar #logIn, #navBar #register {
    float: right;
    margin-right: 10px;
}

#navBar input {
    padding: 6px;
    margin-top: 8px;
    border: none;
    font-size: 17px;
}

#navBar button {
    background-color: #D2B4DE;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#category-dropdown {
    float: left;
}

#user-dropdown {
    float: right;
}

.dropbtn {
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    padding: 6px 10px;
}

#dropdown-content, #user-item {
    display: none;
    position: absolute;
    background-color: #E8DAEF;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown-content a, #user-item a {
    float: none;
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#category-dropdown:hover #dropdown-content,
#user-dropdown:hover #user-item {
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    min-height: 40px;
    width: 100%;
    background-color: #E8DAEF;
}

footer #newsletterBtn {
    background-color: #E8DAEF;
    border: none;
    color: #4D4C4C;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
